@use "sass:meta";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@include meta.load-css("components/custom-slick");
@import "./main.css";
@import "./menu.css";
@import "./megadropdown.css";
@import "./dashbord_navitaion.css";
@import "./ace-responsive-menu.css";
@include meta.load-css("components/input-range-slider");
@include meta.load-css("components/custom_theme.scss");
@include meta.load-css("components/dashboard.scss");
@import "./responsive.css";

.parent-menu-active > .pro-inner-item > .pro-item-content {
  color: var(--color-primary) !important;
}

.parent-menu-active {
  color: #ff5a5f;

  .inactive-mobile-menu {
    color: #484848 !important;
  }
}
// .inactive-mobile-menu{
//     color: #484848 !important;

// }
.rc-slider {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  box-sizing: border-box;
  width: fit-content;
  margin-left: 0 !important;
}
.rc-slider .rc-slider-handle {
  border: solid 2px var(--color-primary);
  opacity: 1 !important;
  background-color: #fff !important;
  width: 16px;
  height: 16px;
  margin-top: -7px;
}
.rc-slider .rc-slider-handle:hover {
  border-color: var(--color-primary);
}
.rc-slider .rc-slider-handle-dragging {
  border-color: var(--color-primary) !important;
  box-shadow: none !important;
}
.rc-slider .rc-slider-track,
.rc-slider .rc-slider-tracks {
  background-color: var(--color-primary);
}
